@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Onest', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    }

    body {
        @apply bg-slate-50 text-slate-900;
        font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    }
}
